 body{
    display: flex;
 align-items:center ;
 justify-content: center;
 text-align: center;
 gap: 5px;
 }
 h1{
    font-size: larger;
    font-weight: 700;
 }
    head{
        background-color: gray;
        
        align-items: center;
        column-gap: 5px;
         border-collapse: separate;    
    border-spacing: 20px 0;
    }

    td{
        padding-left: 20px;
        padding-right: 10px;
        color: rgb(36, 35, 35);

    }

    .header{
        border-bottom: 4px solid gray;
        margin-bottom: 20px;
    }